<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>${_("About")}</h1>
<p>${_("Reliance Industries is launching its fourth generation wireless broadband service under the brand name, Jio. The service is not just about offering wireless telephony service. This fourth generation (4G) LTE service will offer significantly faster data speeds. Through our Jio Education we want every indian to get educated.")}</p>
</section>

