<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="container about">
<h1>${_("Honor Code")}</h1>
<p>${_("In order to participate fully in Site activities, you must provide your name, an email address and a user password in order to create a user account. You agree that you will never divulge or share access or access information for your User Account with any third party for any reason. In setting up your User Account, you may be prompted to enter additional optional information (e.g., your address). You represent that all information provided by you is accurate and current. You agree to maintain and update your information to keep it accurate and current. We care about the confidentiality and security of your personal information.")}</p>
</section>
